.venv/
venv/
myenv/
env/
data/
.pytest_cache/
cron.log
*.pyc
__pycache__/

*.swp

.python-version

.vscode/

instance/

build/

dist/

external/logs/**/*


.pytest_cache/
.coverage
htmlcov/

*.egg-info/

.env

app.db

logs/*.log*
geckodriver.log

messages.pot
var/
